In [1]:
%time
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

CPU times: total: 0 ns
Wall time: 0 ns

In [2]:
file = 'dataset/owid-covid-data.csv'
p = pd.read_csv(file)

In [25]:
p.info()
p.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323661 entries, 0 to 323660
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    323661 non-null  object
 1   continent                                   308301 non-null  object
 2   location                                    323661 non-null  object
 3   date                                        323661 non-null  object
 4   total_cases                                 286549 non-null  float64
 5   new_cases                                   314782 non-null  float64
 6   new_cases_smoothed                          313523 non-null  float64
 7   total_deaths                                265511 non-null  float64
 8   new_deaths                                  314824 non-null  float64
 9   new_deaths_smoothed                         313594 non-null  float64
 10  total_cases_per_million                     286549 non-null  float64
 11  new_cases_per_million                       314782 non-null  float64
 12  new_cases_smoothed_per_million              313523 non-null  float64
 13  total_deaths_per_million                    265511 non-null  float64
 14  new_deaths_per_million                      314824 non-null  float64
 15  new_deaths_smoothed_per_million             313594 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                36771 non-null   float64
 18  icu_patients_per_million                    36771 non-null   float64
 19  hosp_patients                               37592 non-null   float64
 20  hosp_patients_per_million                   37592 non-null   float64
 21  weekly_icu_admissions                       9720 non-null    float64
 22  weekly_icu_admissions_per_million           9720 non-null    float64
 23  weekly_hosp_admissions                      22403 non-null   float64
 24  weekly_hosp_admissions_per_million          22403 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          76493 non-null   float64
 35  people_vaccinated                           73248 non-null   float64
 36  people_fully_vaccinated                     69771 non-null   float64
 37  total_boosters                              44966 non-null   float64
 38  new_vaccinations                            62959 non-null   float64
 39  new_vaccinations_smoothed                   172547 non-null  float64
 40  total_vaccinations_per_hundred              76493 non-null   float64
 41  people_vaccinated_per_hundred               73248 non-null   float64
 42  people_fully_vaccinated_per_hundred         69771 non-null   float64
 43  total_boosters_per_hundred                  44966 non-null   float64
 44  new_vaccinations_smoothed_per_million       172547 non-null  float64
 45  new_people_vaccinated_smoothed              172375 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  172375 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          274674 non-null  float64
 49  median_age                                  255459 non-null  float64
 50  aged_65_older                               246514 non-null  float64
 51  aged_70_older                               252899 non-null  float64
 52  gdp_per_capita                              250354 non-null  float64
 53  extreme_poverty                             161284 non-null  float64
 54  cardiovasc_death_rate                       250868 non-null  float64
 55  diabetes_prevalence                         263639 non-null  float64
 56  female_smokers                              188164 non-null  float64
 57  male_smokers                                185604 non-null  float64
 58  handwashing_facilities                      122882 non-null  float64
 59  hospital_beds_per_thousand                  221444 non-null  float64
 60  life_expectancy                             297699 non-null  float64
 61  human_development_index                     243159 non-null  float64
 62  population                                  323661 non-null  float64
 63  excess_mortality_cumulative_absolute        11245 non-null   float64
 64  excess_mortality_cumulative                 11245 non-null   float64
 65  excess_mortality                            11245 non-null   float64
 66  excess_mortality_cumulative_per_million     11245 non-null   float64
dtypes: float64(62), object(5)
memory usage: 165.4+ MB

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [21]:
for columns in p:
    print('{} - Unique: {} - Null: {} - Na: {}'.format(columns, 
                                   p[columns].unique().shape[0],
                                   p[columns].isnull().shape[0], 
                                   p[columns].isna().shape[0]
                                   ))

iso_code - Unique: 255 - Null: 323661 - Na: 323661
continent - Unique: 7 - Null: 323661 - Na: 323661
location - Unique: 255 - Null: 323661 - Na: 323661
date - Unique: 1282 - Null: 323661 - Na: 323661
total_cases - Unique: 131688 - Null: 323661 - Na: 323661
new_cases - Unique: 27699 - Null: 323661 - Na: 323661
new_cases_smoothed - Unique: 49483 - Null: 323661 - Na: 323661
total_deaths - Unique: 50672 - Null: 323661 - Na: 323661
new_deaths - Unique: 4659 - Null: 323661 - Na: 323661
new_deaths_smoothed - Unique: 11750 - Null: 323661 - Na: 323661
total_cases_per_million - Unique: 171606 - Null: 323661 - Na: 323661
new_cases_per_million - Unique: 82311 - Null: 323661 - Na: 323661
new_cases_smoothed_per_million - Unique: 95241 - Null: 323661 - Na: 323661
total_deaths_per_million - Unique: 102028 - Null: 323661 - Na: 323661
new_deaths_per_million - Unique: 9843 - Null: 323661 - Na: 323661
new_deaths_smoothed_per_million - Unique: 10572 - Null: 323661 - Na: 323661
reproduction_rate - Unique: 381 - Null: 323661 - Na: 323661
icu_patients - Unique: 4087 - Null: 323661 - Na: 323661
icu_patients_per_million - Unique: 13110 - Null: 323661 - Na: 323661
hosp_patients - Unique: 10135 - Null: 323661 - Na: 323661
hosp_patients_per_million - Unique: 25170 - Null: 323661 - Na: 323661
weekly_icu_admissions - Unique: 1676 - Null: 323661 - Na: 323661
weekly_icu_admissions_per_million - Unique: 4317 - Null: 323661 - Na: 323661
weekly_hosp_admissions - Unique: 7984 - Null: 323661 - Na: 323661
weekly_hosp_admissions_per_million - Unique: 16454 - Null: 323661 - Na: 323661
total_tests - Unique: 78046 - Null: 323661 - Na: 323661
new_tests - Unique: 38684 - Null: 323661 - Na: 323661
total_tests_per_thousand - Unique: 72349 - Null: 323661 - Na: 323661
new_tests_per_thousand - Unique: 12375 - Null: 323661 - Na: 323661
new_tests_smoothed - Unique: 44393 - Null: 323661 - Na: 323661
new_tests_smoothed_per_thousand - Unique: 13003 - Null: 323661 - Na: 323661
positive_rate - Unique: 5172 - Null: 323661 - Na: 323661
tests_per_case - Unique: 7078 - Null: 323661 - Na: 323661
tests_units - Unique: 5 - Null: 323661 - Na: 323661
total_vaccinations - Unique: 75182 - Null: 323661 - Na: 323661
people_vaccinated - Unique: 70826 - Null: 323661 - Na: 323661
people_fully_vaccinated - Unique: 67407 - Null: 323661 - Na: 323661
total_boosters - Unique: 40307 - Null: 323661 - Na: 323661
new_vaccinations - Unique: 43671 - Null: 323661 - Na: 323661
new_vaccinations_smoothed - Unique: 61419 - Null: 323661 - Na: 323661
total_vaccinations_per_hundred - Unique: 25106 - Null: 323661 - Na: 323661
people_vaccinated_per_hundred - Unique: 9636 - Null: 323661 - Na: 323661
people_fully_vaccinated_per_hundred - Unique: 9300 - Null: 323661 - Na: 323661
total_boosters_per_hundred - Unique: 9379 - Null: 323661 - Na: 323661
new_vaccinations_smoothed_per_million - Unique: 12641 - Null: 323661 - Na: 323661
new_people_vaccinated_smoothed - Unique: 43085 - Null: 323661 - Na: 323661
new_people_vaccinated_smoothed_per_hundred - Unique: 1398 - Null: 323661 - Na: 323661
stringency_index - Unique: 4821 - Null: 323661 - Na: 323661
population_density - Unique: 216 - Null: 323661 - Na: 323661
median_age - Unique: 143 - Null: 323661 - Na: 323661
aged_65_older - Unique: 193 - Null: 323661 - Na: 323661
aged_70_older - Unique: 196 - Null: 323661 - Na: 323661
gdp_per_capita - Unique: 197 - Null: 323661 - Na: 323661
extreme_poverty - Unique: 77 - Null: 323661 - Na: 323661
cardiovasc_death_rate - Unique: 197 - Null: 323661 - Na: 323661
diabetes_prevalence - Unique: 151 - Null: 323661 - Na: 323661
female_smokers - Unique: 113 - Null: 323661 - Na: 323661
male_smokers - Unique: 128 - Null: 323661 - Na: 323661
handwashing_facilities - Unique: 97 - Null: 323661 - Na: 323661
hospital_beds_per_thousand - Unique: 103 - Null: 323661 - Na: 323661
life_expectancy - Unique: 221 - Null: 323661 - Na: 323661
human_development_index - Unique: 155 - Null: 323661 - Na: 323661
population - Unique: 255 - Null: 323661 - Na: 323661
excess_mortality_cumulative_absolute - Unique: 11065 - Null: 323661 - Na: 323661
excess_mortality_cumulative - Unique: 4110 - Null: 323661 - Na: 323661
excess_mortality - Unique: 5194 - Null: 323661 - Na: 323661
excess_mortality_cumulative_per_million - Unique: 11203 - Null: 323661 - Na: 323661